/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~FOOTER SECTION~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.footer{
	margin-top: 17px;
	display: flex;
	justify-content: center;
	bottom: 0;
	width: 100%;
	text-align: center;
}
.ftr{
	border-style: solid;
	border-color: #004A46;
	border-left: none;
	border-top: none;
	border-bottom: none;
	width: 645px;
	margin-bottom: 5px;
}

.icons{
	width:110px;
}

a{
	padding-right: 20px;
	color: #ce8cb1c1;
}