/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~FOOTER SECTION~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.footer{
	margin-top: 5vh;
	display: flex;
	justify-content: center;
	bottom: 0;
	width: 100%;
	text-align: center;
}
.ftr{
	border-style: solid;
	border-color: #00344a;
	border-left: none;
	border-top: none;
	border-bottom: none;
	width: fit-content;
	margin-top: 1vh;
}

.icons{
	width: 12vh;
	display: flex;
	flex-direction: row;
	
}

.icons a{
	padding-left: 1vh;
	color: #b06a92c1;
	align-items: center;
}